[submodule "myria"]
	path = myria
	url = https://github.com/uwescience/myria.git
[submodule "myria-web"]
	path = myria-web
	url = https://github.com/uwescience/myria-web.git
[submodule "myria-ec2"]
	path = myria-ec2
	url = https://github.com/uwescience/myria-ec2.git
